<!DOCTYPE html>
<html>

<head>
    <title>Razorpay Checkout</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
    <button id="rzp-button">Pay with Razorpay</button>
    <script>
        var options = {
            "key": "rzp_test_ovoRNkH3EPcBU9", 
            "currency": "INR",
            "description": "Test Transaction",
            "image": "https://your-logo-url.com/logo.png",
            "order_id": "order_R21JgDu2gmXuiH", // Replace with generated order_id from server
            "handler": function (response) {
                alert("Payment successful!");
                console.log("Order ID:", response.razorpay_order_id);
                console.log("Signature:", response.razorpay_signature);
                console.log("Payment ID:", response.razorpay_payment_id);
            },
            "prefill": {
                "name": "Pavithran",
                "email": "pavithran@gmail.com",
                "contact": "1234512345"
            },
            "notes": {
                "note_key_1": "August",
                "note_key_2": "Month"
            },
            "theme": {
                "color": "#3399CC"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>

</html>